/core/core.iml
/.idea/sonarlint/issuestore/index.pb
/.idea/libraries/Maven__junit_junit_4_11.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/misc.xml
/.idea/modules.xml
/User-management.iml
/.idea/vcs.xml
/web/web.iml
/.idea/workspace.xml
